.bucketCard {
	border-radius: 5%;
	background-color: #82C6ED;
	height: 700px;
	color: #6D6E70;
  	margin: 0 auto;
  	float: none;
}

#messages {
	height: 700px;
}

#disMess {
	height: 700px;
}

#artInfo{
	height: 300px;
}

#convo {
	height: 400px;
}

#disHead {
	height: 50px;
}

#disImage {
	height: 200px;
	position: relative;
}

#disOp {
	height: 50px;
}

#disImageSize {
	max-height: 100%;
	max-width: 100%;
	position:absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    margin:auto;
}

#bucketSel {
	height: 50px;
}

#messageSlider {
	height: 650px;
	overflow-y: scroll;
	border-right: 1px solid #6D6E70;
}

#eachMess {
	height: 100px;
	border-top: 1px solid #6D6E70;
}