/*lightBlue: #82C6ED
darkBlue: #1C75BB
lightGrey: #e9eaed
darkGrey: #6D6E70*/

body {
  background-color: #e9eaed;
  font-family: Helvetica Neue;
  color: #6D6E70;
}

.mainCatDiv {
  height: 689px;
  background-color: white;
  overflow: scroll;
}

.messageItem {
  height: 70px;
  background-color: white;
  line-height: 70px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  margin: 0;
  cursor: pointer;
  border-right: 1px solid #e5e5e5;
}

.headBub {
  border-radius: 100%;
  background-color: #6D6E70;
  height: 70px;
  width: 70px;
  color: #6D6E70;
  margin: 10px auto;
  float: none
  display: table-cell;
  line-height: 70px;
  text-align: center;
  display: inline-block;
}

.chosenHeadBub {
  border-radius: 50px;
  background-color: #6D6E70;
  height: 70px;
  width: 165px;
  color: #6D6E70;
  margin-top: 10px;
  line-height: 70px;
}

.headBubImg {
  width: 40px;
  height: 40px;
}

.choosenHeadBubImg {
  width: 40px;
  height: 40px;
}

#dripprdiv {
  height: 70px;
  line-height: 90px;
  text-align: center;
}

#logo {
  max-height: 75px;
  max-width: 125px;
}

#selPage {
  font-size: 25px;
  color:white;
  text-align: center;
}

#fb {
  float: right;
}

.menuBar {
  padding-left: 0px;
  padding-right: 0px;
}

.header {
  background-color: #A3DCFF;
}

.headingPad {
  padding-left: 0px;
}

.headingPad1 {
  width: 175px
}

.headingPad2 {
  width: 80px
}

#headline {
  text-align: center;
  font-size: 40px;
}

#fitImage {
  max-width: 300px;
  max-height: 300px;
}

.indMess {
  max-width: 200px;
}

#conversation {
  height: 500px;
  background-color: #82C6ED;
  overflow: scroll;
}

#convoCont {
  height: 500px;
}