/*lightBlue: #A3DCFF
darkBlue: #1C75BB
lightGrey: #e9eaed
darkGrey: #6D6E70*/

body {
  background-color: #e9eaed;
  font-family: Helvetica Neue;
  color: #6D6E70;
}

.mainCatDiv {
  height: 689px;
  background-color: white;
  overflow: scroll;
}

.categ {
  height: 70px;
  background-color: white;
  font-size: 24px;
  line-height: 70px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  margin: 0;
  cursor: pointer;
  border-right: 1px solid #e5e5e5;
}

.headBub {
  border-radius: 100%;
  background-color: #6D6E70;
  height: 70px;
  width: 70px;
  color: #6D6E70;
  margin: 10px auto;
  float: none
  display: table-cell;
  line-height: 70px;
  text-align: center;
  display: inline-block;
}

.chosenHeadBub {
  border-radius: 50px;
  background-color: #6D6E70;
  height: 70px;
  width: 165px;
  color: #6D6E70;
  margin-top: 10px;
  line-height: 70px;
}

.headBubImg {
  width: 40px;
  height: 40px;
}

.choosenHeadBubImg {
  width: 40px;
  height: 40px;
}

.arrow {
  width: 90px;
  cursor: pointer;
  line-height: 689px;
}

#prevArrow:hover {
  width: 90px;
  height: 689px;
  -webkit-box-shadow: inset 30px 0 50px -2px black;
  box-shadow: inset 30px 0 50px -20px black;           
}

#nextArrow {
  float: right;
}

#nextArrow:hover {
  width: 90px;
  height: 689px;
  -webkit-box-shadow: inset -30px 0 50px -2px black;
  box-shadow: inset -30px 0 50px -20px black;
  float: right;
}

.arrowDiv {
  padding: 0px;
  width: 119.8px;
}

.slider {
  width: 850px; height: 605px;
  overflow: hidden;
  margin: 0 auto;
  float: none;
}

.slider > ul {
    /* styled by JS to match the added width and height of all <li>’s */
    position: relative;
    -webkit-transition: 0.5s left;
    -moz-transition: 0.5s left;
    -ms-transition: 0.5s left;
    -o-transition: 0.5s left;
    list-style: none;
    margin: 0; padding: 0;
}
    
.slider > ul > li {
      float: left;
      width: 850px; height: 605px;
}

.mainBubble {
  height: 550px;
  width: 800px;
  color: #6D6E70;
  margin: 0 auto;
  float: none;
}

.headlineDiv {
  height: 33px;
  text-align: center;
  font-size: 40px;
  line-height: 33px;
}

#headline {
  text-decoration: none;
  color: #6D6E70;
}

#headline:hover {
  color: #1C75BB;
}

.opinion {
  height: 55px;
  width: 70px;
  cursor: pointer;
}

#dripprdiv {
  height: 70px;
  line-height: 90px;
  text-align: center;
}

#logo {
  max-height: 75px;
  max-width: 125px;
}

#selPage {
  font-size: 25px;
  color:white;
  text-align: center;
}

#fb {
  float: right;
}

#source {
  text-align: center;
}

#imageDiv {
  height: 530px;
  line-height: 530px;
  text-align: center;
}

#fitimage {
  max-width: 100%;
  max-height: 90%;
  vertical-align: middle;
  border-radius: 10px;
}

.word {
  text-align: center;
  margin-bottom: 0px;
}

.menuBar {
  padding-left: 0px;
  padding-right: 0px;
}

.header {
  background-color: #A3DCFF;
}

.catImg {
  max-width: 100%;
  max-height: 70%;
}

.headingPad {
  padding-left: 0px;
}

.headingPad1 {
  width: 175px
}

.headingPad2 {
  width: 80px
}

.catImgDiv {
  
  height: 70px;
  line-height: 70px;
}

.opDiv {
  text-align: center;
}

.number {
  font-size: 40px;
  float: left;
}

.hide {
  display: none;
}

.sliderWidth {
  width: 880px;
}

#sliderPad {
  padding: 0;
}