body {
	background-color: #E0DFD9;
	font-family: Helvetica Neue;
	color: #6D6E70;
}

#dripprdiv {
	height: 50px;
	width: 100px;
	margin: 0 auto;
	float: none;
}

.bubble {
	border-radius: 100%;
	background-color: #82C6ED;
	height: 300px;
	width: 300px;
	color: #6D6E70;
}

.fitHPimg {
	max-width:65%;
    max-height:65%;
}